<!DOCTYPE html><html>
<head>
	<title>iTease WebDB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link href="./image/it.ico" rel="icon" />
	<link href="./image/it.png" rel="shortcut icon" />
	<link rel="stylesheet" href="./css/jquery/jquery-ui.min.css" type="text/css" media="all" />
	<link media="screen" href="./css/debug.css" type="text/css" rel="stylesheet" />
	<script src="./javascript/jquery/jquery.min.js"></script>
	<script src="./javascript/jquery/jquery-ui.min.js"></script>
	<script src="./javascript/jquery/jquery.ui-contextmenu.min.js"></script>
	<script src="./javascript/common.js"></script>
	<script src="./javascript/debug.js"></script>
</head>
<body>
<div id="base" class="wrap">
{%include html/app/debug/side.html%}
<main>
	{%include html/app/debug/header.html%}
	{%include html/app/debug/main.html%}
	{%include html/app/debug/footer.html%}
</main>
</div>
</body>
</html>